/*
 * ===========
 * Home Page
 * ===========
 */



/* -- Section Heading -- */
.section-heading {
	line-height: 1;
}



/* -- Project Listing Section -- */
.project-listing-section.active {}
.project-listing-section.active .projects .project {
	border-bottom: var(--border-width) dashed var(--hue-neutral-20);
}
.project-listing-section.active .projects .project:last-child {
	border-bottom: 0;
}

.project-listing-section.active .project-meta {
	margin-top: var(--space-25);
	line-height: 2;
}

@media( min-width: 500px ) {
	.project-listing-section.active .project-meta {
		margin-top: 0;
		text-align: right;
	}
}
@media( min-width: 1000px ) {
	.project-listing-section.active .project-title .name {
		font-size: var(--h3);
	}
	.project-listing-section.active .project-title .heading {
		font-size: var(--h5);
	}
}



/* -- CSR Excerpt Section -- */
.csr-excerpt-section { position: relative; }
.csr-excerpt-section .dotmatrix { display: none; }

@media( min-width: 1000px ) {
	.csr-excerpt-section .dotmatrix {
		display: block;
		position: absolute;
		z-index: -1;
		bottom: 0;
		right: 50%;
		width: calc(var(--card)/1.5);
		transform: translateX(var(--space-200));
		opacity: 66.666%;
	}
}



/* -- NRI Excerpt Section -- */
.nri-excerpt-section { position: relative; }
.nri-excerpt-section .dotmatrix { display: none; }

@media( min-width: 1000px ) {
	.nri-excerpt-section .dotmatrix {
		display: block;
		position: absolute;
		z-index: -1;
		bottom: var(--space-175);
		left: 50%;
		width: calc(var(--card)/1.5);
		transform: translateX(var(--card));
		opacity: 66.666%;
	}
}