		
		


		<footer>
			<!-- Footer -->
		</footer>




		<!-- Copyright Section -->
		<style>
			.copyright-section { text-align: center; }
			.copyright-section .signature { margin-top: var(--space-50); }
			@media( min-width: 1040px ) {
				.copyright-section { text-align: left; }
				.copyright-section .signature { text-align: right; margin: 0; }
			}
		</style>
		<section class="copyright-section space-50-top-bottom fill-light" id="copyright-section">
			<div class="container">
				<div class="row">
					<div class="columns small-12 large-7 inline-middle">
						<div class="h6 font-h strong text-blue">Copyright &copy; 2024 – Bharat Glass & Crockeries | All Rights Reserved</div>
					</div>
					<div class="signature columns small-12 large-5 text-blue-dark-dark inline-middle">
						<a href="https://windsorsouza.com?utm_source=client+website" target="_blank" class="p inline">Branding &amp; Website by <span class="strong" style="background-image: linear-gradient(135deg, #0099FF, #9933FF, #CC00FF, #ff3366);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; text-wrap: nowrap;">WindsorSouza PVT LTD</span></a>
					</div>
				</div>
			</div>
		</section>
		<!-- END: Copyright Section -->




