<!doctype html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover" />


	<title>{{ title | default: 'Vaswani - Live the Dream' }}</title>
	<base href="/">

	
	<!-- Metadata -->
	<!-- Short description of the document (limit to 150 characters) -->
	<!-- This content *may* be used as a part of search engine results. -->
	<meta name="description" content="Developers of residential and commercial real estate across Bangalore, Mumbai, Pune and Goa.">


	<!-- Authors -->
	<!-- Links to information about the author(s) of the document -->
	<meta name="author" content="Vaswani Group">
	<link rel="author" href="humans.txt">


	<!-- SEO -->
	<!-- Control the behavior of search engine crawling and indexing -->
	<meta name="robots" content="index,follow"><!-- All Search Engines -->


	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="media/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="32x32" href="media/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="media/favicon/favicon-16x16.png">
	<link rel="manifest" href="media/favicon/manifest.json">


	<!-- ~ iOS ~ -->
	<!-- Disable automatic detection and formatting of possible phone numbers -->
	<meta name="format-detection" content="telephone=no">


	<!-- Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ title | default: 'Vaswani - Live the Dream' }}">
	<meta property="og:description" content="Developers of residential and commercial real estate across Bangalore, Mumbai, Pune and Goa.">
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<meta property="og:site_name" content="">


	<!-- Schema.org / Google+ -->
	<meta itemprop="name" content="{{ title | default: 'Vaswani - Live the Dream' }}">
	<meta itemprop="description" content="Developers of residential and commercial real estate across Bangalore, Mumbai, Pune and Goa.">
	<meta itemprop="image" content="">


	<!-- Mako CSS -->
	<link rel="stylesheet" type="text/css" href="css/0-root.css">
	<link rel="stylesheet" type="text/css" href="css/1-normalise.css">
	<link rel="stylesheet" type="text/css" href="css/2-base.css">
	<link rel="stylesheet" type="text/css" href="css/3-layout.css">
	<link rel="stylesheet" type="text/css" href="css/4-function.css">
	<link rel="stylesheet" type="text/css" href="css/5-theme.css">

	<!-- Component -->
	<link rel="stylesheet" type="text/css" href="css/component/card.css">

	<!-- Section -->
	<link rel="stylesheet" type="text/css" href="css/section/footer.css">

	<!-- Page -->
	<link rel="stylesheet" type="text/css" href="css/page/home.css">


	<!-- Netlify Identity -->
	<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>


	<!-- Google Tag Manager -->
	<!-- !!! ENTER TAG MANAGER SCRIPT HERE !!! -->
	<!-- END: Google Tage Manager -->


</head>
<body class="body" id="body">


<!--  ★  MARKUP GOES HERE  ★  -->
