<!-- Menu Toggle -->
<input type="checkbox" id="menu-toggle-checkbox" class="visuallyhidden" />

<!-- Header Section -->
<header id="header-section" class="header-section">
	<div class="row">
		<div class="container">
			<div class="columns small-12 text-center">
				<a href="" aria-label="Homepage"><img src="media/logo-color.svg" alt=""></a>
			</div>
		</div>
	</div>
</header>
<!-- End: Header Section -->

<!-- The clickable label for the checkbox -->
<label for="menu-toggle-checkbox" class="menu-toggle" aria-label="Toggle Main Menu">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</label>


<!-- Main Nav -->
<nav id="main-nav" class="main-nav space-100" role="navigation" aria-labelledby="main-nav-heading">
	<h2 id="main-nav-heading" class="w-200 space-25-bottom">Menu</h2>
	<ul class="menu-list">
		<li><a href="">Home</a></li>
		<li>
			<input type="checkbox" id="residential-submenu-checkbox" class="submenu-checkbox visuallyhidden">
			<label for="residential-submenu-checkbox" class="submenu-label">Residential</label>
			<ul id="residential-submenu" class="sub-menu">
				<li>
					<input type="checkbox" id="residential-active-submenu-checkbox" class="submenu-checkbox visuallyhidden">
					<label for="residential-active-submenu-checkbox" class="submenu-label">Active Projects</label>
					<ul id="residential-submenu" class="sub-menu">
						<li><a href="">Project 1</a></li>
						<li><a href="">Project 2</a></li>
						<li><a href="">Project 3</a></li>
					</ul>
				</li>
				<li>
					<input type="checkbox" id="residential-completed-submenu-checkbox" class="submenu-checkbox visuallyhidden">
					<label for="residential-completed-submenu-checkbox" class="submenu-label">Completed Projects</label>
					<ul id="residential-submenu" class="sub-menu">
						<li><a href="">Project 1</a></li>
						<li><a href="">Project 2</a></li>
						<li><a href="">Project 3</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<input type="checkbox" id="commercial-submenu-checkbox" class="submenu-checkbox visuallyhidden">
			<label for="commercial-submenu-checkbox" class="submenu-label">Commercial</label>
			<ul id="commercial-submenu" class="sub-menu">
				<li>
					<input type="checkbox" id="commercial-active-submenu-checkbox" class="submenu-checkbox visuallyhidden">
					<label for="commercial-active-submenu-checkbox" class="submenu-label">Active Projects</label>
					<ul id="commercial-submenu" class="sub-menu">
						<li><a href="">Project 1</a></li>
						<li><a href="">Project 2</a></li>
						<li><a href="">Project 3</a></li>
					</ul>
				</li>
				<li>
					<input type="checkbox" id="commercial-completed-submenu-checkbox" class="submenu-checkbox visuallyhidden">
					<label for="commercial-completed-submenu-checkbox" class="submenu-label">Completed Projects</label>
					<ul id="commercial-submenu" class="sub-menu">
						<li><a href="">Project 1</a></li>
						<li><a href="">Project 2</a></li>
						<li><a href="">Project 3</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a href="">About</a></li>
		<li><a href="">Contact</a></li>
		<li><a href="">Blog</a></li>
		<li><a href="">NRI</a></li>
		<li><a href="">CSR</a></li>
		<li><a href="">Awards</a></li>
		<li><a href="">Careers</a></li>
		<li><a href="">RERA Disclaimer</a></li>
		<li><a href="">Privacy Policy</a></li>
		<li><a href="">Channel Partner Hub</a></li>
	</ul>
</nav>
<!-- End: Main Nav -->



<!-- Main -->
<main class="main-content" role="main">