{% include 'parts/head.liquid' %}
{% include 'parts/header.liquid' %}



<!-- Sample Section -->
<section id="sample-section hidden" class="sample-section hidden">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<!-- Stuff Goes Here -->
			</div>
		</div>
	</div>
</section>
<!-- End: Sample Section -->



<!-- Intro Banner Section -->
<section id="intro-banner-section" class="intro-banner-section">
	<div class="row">
		<div class="video-scroll-wrapper">
			<div class="video-width fill-dark" style="width: 100vw; padding-top: 50%;"></div>
			<div class="scroll">
				<span>Scroll</span>
				dotmatrix
			</div>
		</div>
			
	</div>
</section>
<!-- End: Intro Banner Section -->



<!-- Bento Grid Section -->
<section id="bento-grid-section" class="bento-grid-section space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				tile 1
					40 year
				tile 2
					8M+ Square Feet Built-up Area
				tile 3
					Pioneered row house in Bangalore
				tile 4
					image
				tile 5
					image
				tile 6
					5000+ Happy Customers
				tile 7
					100% RERA Compliance
			</div>
		</div>
	</div>
</section>
<!-- End: Bento Grid Section -->



<!-- Project Listing Section [ongoing] -->
<section id="project-listing-section" class="project-listing-section ongoing space-100-vertical">
	<div class="row">
		<div class="container">
			<div class="columns small-12 text-center">
				<label class="section-label">Ongoing Projects</label>
				<h2 class="section-heading text-neutral-20 space-50-bottom">Masterpieces in the Making</h2>
				
				<div class="button-toggle inline space-25 fill-neutral-10 radius-round box-shadow-inset">
					<button class="text-uppercase radius-round space-75-horizontal">Residential</button>
					<button class="text-uppercase radius-round space-75-horizontal" style="color: var(--hue-neutral-50); background: transparent;">Commercial</button>
				</div>
			</div>
		</div>
	</div>
	<div class="projects row">
		<div class="project space-100-vertical">
			<div class="container">
				<div class="project-title columns small-12 medium-7 large-8 inline-bottom">
					<h6 class="heading text-primary">Luxury 3 & 4 Bedroom Homes</h6>
					<h4 class="name text-uppercase strong letter-spacing-loose-loose">Vaswani Starlight</h4>
				</div>
				<div class="project-meta text-dark columns small-12 medium-5 large-4 inline-bottom">
					<small class="metadata block">
						<i class='bx bx-home p text-primary'></i>
						<span>Starting at ₹2.82Cr</span>
					</small>
					<small class="metadata block">
						<i class='bx bx-area p text-primary'></i>
						<span>1970sqft to 2730sqft Apartments</span>
					</small>
					<small class="metadata block">
						<i class='bx bx-map p text-primary'></i>
						<span>Whitefield, BANGALORE</span>
					</small>
				</div>
			</div>
			<!-- Carousel -->
			<div class="carousel gallery">
				<div class="carousel-list fill-white box-shadow-red-light">
					<div class="carousel-list-item">
						<img class="radius-25 box-shadow" src="https://placeholdit.com/1200x800/F1F1F1/999999" alt="">
						<small class="text-uppercase position-absolute space-min space-50-horizontal fill-secondary box-shadow" style="bottom: 15%; left: 0; border-top-right-radius: var(--space-min); border-bottom-right-radius: var(--space-min);">Construction in Full Swing</small>
					</div>
					<div class="carousel-list-item">
						<img class="radius-25 box-shadow" src="https://placeholdit.com/480x720/F1F1F1/999999" alt="">
					</div>
					<div class="carousel-list-item">
						<img class="radius-25 box-shadow" src="https://placeholdit.com/1920x1080/F1F1F1/999999" alt="">
					</div>
					<div class="carousel-list-item">
						<img class="radius-25 box-shadow" src="https://placeholdit.com/500x500/F1F1F1/999999" alt="">
					</div>
					<div class="carousel-list-item">
						<img class="radius-25 box-shadow" src="https://placeholdit.com/480x720/F1F1F1/999999" alt="">
					</div>
					<div class="carousel-list-item">
						<img class="radius-25 box-shadow" src="https://placeholdit.com/640x480/F1F1F1/999999" alt="">
					</div>
				</div>
				<div class="row">
					<div class="carousel-controls container">
						<div class="scroll-button scroll-left inline" data-dir="left" tabindex="-1"><i class='bx bx-chevron-left h3 text-primary' ></i></div>
						<div class="scroll-button scroll-right inline" data-dir="right" tabindex="-1"><i class='bx bx-chevron-right h3 text-primary' ></i></div>
					</div>
				</div>
			</div>
			<div class="container">
				<a class="button space-75-horizontal radius-round" href="">Explore Project</a>
			</div>
		</div>
		<div class="project space-100-vertical">
			<div class="container">
				<div class="project-title columns small-12 medium-7 large-8 inline-bottom">
					<h6 class="heading text-primary">Luxury 3 & 4 Bedroom Homes</h6>
					<h4 class="name text-uppercase strong letter-spacing-loose-loose">Vaswani Starlight</h4>
				</div>
				<div class="project-meta text-dark columns small-12 medium-5 large-4 inline-bottom">
					<small class="metadata block">
						<i class='bx bx-home p text-primary'></i>
						<span>Starting at ₹2.82Cr</span>
					</small>
					<small class="metadata block">
						<i class='bx bx-area p text-primary'></i>
						<span>1970sqft to 2730sqft Apartments</span>
					</small>
					<small class="metadata block">
						<i class='bx bx-map p text-primary'></i>
						<span>Whitefield, BANGALORE</span>
					</small>
				</div>
			</div>
			<!-- Carousel -->
			<div class="carousel gallery">
				<div class="carousel-list fill-white box-shadow-red-light">
					<div class="carousel-list-item">
						<img class="radius-25 box-shadow" src="https://placeholdit.com/1200x800/F1F1F1/999999" alt="">
						<small class="text-uppercase position-absolute space-min space-50-horizontal fill-secondary box-shadow" style="bottom: 15%; left: 0; border-top-right-radius: var(--space-min); border-bottom-right-radius: var(--space-min);">Construction in Full Swing</small>
					</div>
					<div class="carousel-list-item">
						<img class="radius-25 box-shadow" src="https://placeholdit.com/480x720/F1F1F1/999999" alt="">
					</div>
					<div class="carousel-list-item">
						<img class="radius-25 box-shadow" src="https://placeholdit.com/1920x1080/F1F1F1/999999" alt="">
					</div>
					<div class="carousel-list-item">
						<img class="radius-25 box-shadow" src="https://placeholdit.com/500x500/F1F1F1/999999" alt="">
					</div>
					<div class="carousel-list-item">
						<img class="radius-25 box-shadow" src="https://placeholdit.com/480x720/F1F1F1/999999" alt="">
					</div>
					<div class="carousel-list-item">
						<img class="radius-25 box-shadow" src="https://placeholdit.com/640x480/F1F1F1/999999" alt="">
					</div>
				</div>
				<div class="row">
					<div class="carousel-controls container">
						<div class="scroll-button scroll-left inline" data-dir="left" tabindex="-1"><i class='bx bx-chevron-left h3 text-primary' ></i></div>
						<div class="scroll-button scroll-right inline" data-dir="right" tabindex="-1"><i class='bx bx-chevron-right h3 text-primary' ></i></div>
					</div>
				</div>
			</div>
			<div class="container">
				<a class="button space-75-horizontal radius-round" href="">Explore Project</a>
			</div>
		</div>
	</div>
</section>
<!-- End: Project Listing Section [ongoing] -->




<!-- Contact Form Section -->
<section id="contact-form-section" class="contact-form-section space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12 xlarge-10 xlarge-offset-1">
				<label class="section-label">GET IN TOUCH</label>
				<h2 class="section-heading text-neutral-20 space-50-bottom">Exceptional Living Begins Here</h2>
			</div>
			<div class="columns small-12 space-50-bottom medium-4 xlarge-3 xlarge-offset-1">
				<p class="h6">Provide your details, and our expert advisors will connect with you to tailor your next steps.</p>
			</div>
			<div class="columns small-12 medium-7 medium-offset-1 xlarge-6">
				<div class="form card row space-50 box-shadow-primary">
					<div class="form-input">
						<label for="">
							<span class="input-label space-min block">Full Name *</span>
							<input class="input-field" type="text">

						</label>
					</div>
					<div class="form-input">
						<label for="">
							<span class="input-label space-min block">Email Id *</span>
							<input class="input-field" type="text">
						</label>
					</div>
					<div class="form-input">
						<label for="">
							<span class="input-label space-min block">Phone Number *</span>
							<input class="input-field" type="text">
						</label>
					</div>
					<div class="form-input">
						<label for="">
							<span class="input-label space-min block">I’M Interested In</span>
							<input class="input-field" type="text">
						</label>
					</div>
					<div class="form-input">
						<label for="">
							<span class="input-label space-min block">City</span>
							<input class="input-field" type="text">
						</label>
					</div>
					<div class="form-input">
						<label for="">
							<span class="input-label space-min block">How Did You Find Us ?</span>
							<input class="input-field" type="text">
						</label>
					</div>
					<div class="form-input span-row">
						<label for="">
							<span class="input-label space-min block">Your Requirement</span>
							<textarea class="input-field" name="" id=""></textarea>
						</label>
					</div>
					<div class="form-input">
						<button class="button fill-primary" style="padding: 0 var(--space-100);">Contact</button>
					</div>
				</div>
			</div>
			<div class="columns or-message small-12 space-50-top medium-4 xlarge-3 xlarge-offset-1">
				<span class="h4 text-primary">OR</span>
				<p class="h6">Call our Help Desk <br>between 10am to 7pm IST</p>
				<a class="h4 text-primary" href="tel:+918747987479">+91-<strong>8747987479</strong></a>
			</div>
			<img class="dotmatrix" src="media/dot-matrix-large-green.svg" alt="">
		</div>
	</div>
</section>
<!-- End: Contact Form Section -->



<!-- About Vaswnani Section -->
<section id="about-vaswnani-section" class="about-vaswnani-section space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				ribon
					logo
					
					Over the last 40 years, we have developed residential and commercial real estate across Bangalore, Mumbai, Pune and Goa.

					In 1985, we embarked on a journey to offer global-standard residential solutions for the discerning home buyer as well as turnkey commercial solutions for Indian and multinational firms. From resplendent housing to upscale commercial, our equity is strengthened with a proven and credible track record having developed close to 8 million square feet of built up area in the verticals of Residential, Commercial, Retail and Hospitality. We are committed to constantly refining our skills with an ever present emphasis on transparency.
					
					More about us
				ribon
			</div>
		</div>
	</div>
</section>
<!-- End: About Vaswnani Section -->



<!-- Bank Financing Section -->
<section id="bank-financing-section" class="bank-financing-section space-100-vertical">
	<div class="row">
		<div class="container text-center">
			<div class="columns small-12 medium-9 large-7 xlarge-6">
				<label class="section-label">Hassle-free Financing</label>
				<h5 class="heading text-primary space-100-bottom">Many Vaswani projects are pre-approved by India's leading financial institutions.</h5>

				<div class="bank-grid space-25-vertical">
					<div class="bank-grid-track">
						<a class="bank-link" href="/"><span class="visuallyhidden">bank-hdfc</span><img src="media/bank-hdfc.png" alt=""></a>
						<a class="bank-link" href="/"><span class="visuallyhidden">bank-hsbc</span><img src="media/bank-hsbc.png" alt=""></a>
						<a class="bank-link" href="/"><span class="visuallyhidden">bank-sbi</span><img src="media/bank-sbi.png" alt=""></a>
						<a class="bank-link" href="/"><span class="visuallyhidden">bank-icici</span><img src="media/bank-icici.png" alt=""></a>
						<a aria-hidden="true" class="bank-link" href="/"><span class="visuallyhidden">bank-hdfc</span><img src="media/bank-hdfc.png" alt=""></a>
						<a aria-hidden="true" class="bank-link" href="/"><span class="visuallyhidden">bank-hsbc</span><img src="media/bank-hsbc.png" alt=""></a>
						<a aria-hidden="true" class="bank-link" href="/"><span class="visuallyhidden">bank-sbi</span><img src="media/bank-sbi.png" alt=""></a>
						<a aria-hidden="true" class="bank-link" href="/"><span class="visuallyhidden">bank-icici</span><img src="media/bank-icici.png" alt=""></a>
					</div>
				</div>
				<small class="block strong text-uppercase text-neutral-30 space-100-top">and more</small>
			</div>
		</div>
	</div>
</section>
<!-- End: Bank Financing Section -->



<!-- Join Newsletter Section -->
<section id="join-newsletter-section" class="join-newsletter-section space-50-top">
	<div class="row">
		<img class="join-newsletter-bg" src="media/newsletter-bg.png" alt="">
		<div class="join-newsletter">
			<div class="container text-center">
				<div class="columns small-12">
					<label class="section-label text-secondary">Shared Spaces</label>
					<h2 class="section-heading text-light space-50-bottom">The Art of Architecture</h2>
					<a class="button fill-secondary" href="">Join our Newsletter</a>
				</div>
			</div>
		</div>
		<div class="space-200-bottom fill-dark"></div>
	</div>
</section>
<!-- End: Join Newsletter Section -->



<!-- Project Listing Section [completed] -->
<section id="project-listing-section" class="project-listing-section completed space-100-vertical">
	<div class="row">
		<div class="container">
			<div class="columns small-12 text-center">
				<label class="section-label">Completed Projects</label>
				<h2 class="section-heading text-neutral-20 space-50-bottom">Our Legacy of Landmarks</h2>
				
				<div class="button-toggle inline space-25 fill-neutral-10 radius-round box-shadow-inset">
					<button class="text-uppercase radius-round space-75-horizontal">Residential</button>
					<button class="text-uppercase radius-round space-75-horizontal" style="color: var(--hue-neutral-50); background: transparent;">Commercial</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row space-100-vertical">
		<!-- Carousel -->
		<div class="carousel">
			<div class="carousel-list fill-white box-shadow-red-light">
				<div class="project carousel-list-item">
					<div class="card space-50 box-shadow-primary">
						<div class="thumbnail position-relative">
							<img class="radius-min box-shadow" src="https://placeholdit.com/500x400/F1F1F1/999999" alt="">
							<small class="text-uppercase position-absolute space-min space-50-horizontal fill-secondary box-shadow" style="bottom: 15%; left: 0; border-top-right-radius: var(--space-min); border-bottom-right-radius: var(--space-min);">Completed 2017</small>
						</div>
						<h6 class="text-primary space-50-top text-uppercase strong letter-spacing-loose-loose">Vaswani Menlo Park</h6>
						<p class="block text-neutral-50">3 & 4 BHK Row Houses</p>
						<div class="project-meta text-dark space-25-vertical">
							<small class="metadata block">
								<i class='bx bx-area p text-primary'></i>
								<span>1970sqft to 2730sqft Apartments</span>
							</small>
							<small class="metadata block">
								<i class='bx bx-map p text-primary'></i>
								<span>Whitefield, BANGALORE</span>
							</small>
						</div>
						<a class="p strong text-uppercase text-primary line-height-loose-loose" href="">View Project</a>
					</div>
				</div>
				<div class="project carousel-list-item">
					<div class="card space-50 box-shadow-primary">
						<div class="thumbnail position-relative">
							<img class="radius-min box-shadow" src="https://placeholdit.com/500x400/F1F1F1/999999" alt="">
							<small class="text-uppercase position-absolute space-min space-50-horizontal fill-secondary box-shadow" style="bottom: 15%; left: 0; border-top-right-radius: var(--space-min); border-bottom-right-radius: var(--space-min);">Completed 2017</small>
						</div>
						<h6 class="text-primary space-50-top text-uppercase strong letter-spacing-loose-loose">Vaswani Menlo Park</h6>
						<p class="block text-neutral-50">3 & 4 BHK Row Houses</p>
						<div class="project-meta text-dark space-25-vertical">
							<small class="metadata block">
								<i class='bx bx-area p text-primary'></i>
								<span>1970sqft to 2730sqft Apartments</span>
							</small>
							<small class="metadata block">
								<i class='bx bx-map p text-primary'></i>
								<span>Whitefield, BANGALORE</span>
							</small>
						</div>
						<a class="p strong text-uppercase text-primary line-height-loose-loose" href="">View Project</a>
					</div>
				</div>
				<div class="project carousel-list-item">
					<div class="card space-50 box-shadow-primary">
						<div class="thumbnail position-relative">
							<img class="radius-min box-shadow" src="https://placeholdit.com/500x400/F1F1F1/999999" alt="">
							<small class="text-uppercase position-absolute space-min space-50-horizontal fill-secondary box-shadow" style="bottom: 15%; left: 0; border-top-right-radius: var(--space-min); border-bottom-right-radius: var(--space-min);">Completed 2017</small>
						</div>
						<h6 class="text-primary space-50-top text-uppercase strong letter-spacing-loose-loose">Vaswani Menlo Park</h6>
						<p class="block text-neutral-50">3 & 4 BHK Row Houses</p>
						<div class="project-meta text-dark space-25-vertical">
							<small class="metadata block">
								<i class='bx bx-area p text-primary'></i>
								<span>1970sqft to 2730sqft Apartments</span>
							</small>
							<small class="metadata block">
								<i class='bx bx-map p text-primary'></i>
								<span>Whitefield, BANGALORE</span>
							</small>
						</div>
						<a class="p strong text-uppercase text-primary line-height-loose-loose" href="">View Project</a>
					</div>
				</div>
				<div class="project carousel-list-item">
					<div class="card space-50 box-shadow-primary">
						<div class="thumbnail position-relative">
							<img class="radius-min box-shadow" src="https://placeholdit.com/500x400/F1F1F1/999999" alt="">
							<small class="text-uppercase position-absolute space-min space-50-horizontal fill-secondary box-shadow" style="bottom: 15%; left: 0; border-top-right-radius: var(--space-min); border-bottom-right-radius: var(--space-min);">Completed 2017</small>
						</div>
						<h6 class="text-primary space-50-top text-uppercase strong letter-spacing-loose-loose">Vaswani Menlo Park</h6>
						<p class="block text-neutral-50">3 & 4 BHK Row Houses</p>
						<div class="project-meta text-dark space-25-vertical">
							<small class="metadata block">
								<i class='bx bx-area p text-primary'></i>
								<span>1970sqft to 2730sqft Apartments</span>
							</small>
							<small class="metadata block">
								<i class='bx bx-map p text-primary'></i>
								<span>Whitefield, BANGALORE</span>
							</small>
						</div>
						<a class="p strong text-uppercase text-primary line-height-loose-loose" href="">View Project</a>
					</div>
				</div>
				<div class="project carousel-list-item">
					<div class="card space-50 box-shadow-primary">
						<div class="thumbnail position-relative">
							<img class="radius-min box-shadow" src="https://placeholdit.com/500x400/F1F1F1/999999" alt="">
							<small class="text-uppercase position-absolute space-min space-50-horizontal fill-secondary box-shadow" style="bottom: 15%; left: 0; border-top-right-radius: var(--space-min); border-bottom-right-radius: var(--space-min);">Completed 2017</small>
						</div>
						<h6 class="text-primary space-50-top text-uppercase strong letter-spacing-loose-loose">Vaswani Menlo Park</h6>
						<p class="block text-neutral-50">3 & 4 BHK Row Houses</p>
						<div class="project-meta text-dark space-25-vertical">
							<small class="metadata block">
								<i class='bx bx-area p text-primary'></i>
								<span>1970sqft to 2730sqft Apartments</span>
							</small>
							<small class="metadata block">
								<i class='bx bx-map p text-primary'></i>
								<span>Whitefield, BANGALORE</span>
							</small>
						</div>
						<a class="p strong text-uppercase text-primary line-height-loose-loose" href="">View Project</a>
					</div>
				</div>
				<div class="project carousel-list-item">
					<div class="card space-50 box-shadow-primary">
						<div class="thumbnail position-relative">
							<img class="radius-min box-shadow" src="https://placeholdit.com/500x400/F1F1F1/999999" alt="">
							<small class="text-uppercase position-absolute space-min space-50-horizontal fill-secondary box-shadow" style="bottom: 15%; left: 0; border-top-right-radius: var(--space-min); border-bottom-right-radius: var(--space-min);">Completed 2017</small>
						</div>
						<h6 class="text-primary space-50-top text-uppercase strong letter-spacing-loose-loose">Vaswani Menlo Park</h6>
						<p class="block text-neutral-50">3 & 4 BHK Row Houses</p>
						<div class="project-meta text-dark space-25-vertical">
							<small class="metadata block">
								<i class='bx bx-area p text-primary'></i>
								<span>1970sqft to 2730sqft Apartments</span>
							</small>
							<small class="metadata block">
								<i class='bx bx-map p text-primary'></i>
								<span>Whitefield, BANGALORE</span>
							</small>
						</div>
						<a class="p strong text-uppercase text-primary line-height-loose-loose" href="">View Project</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="carousel-controls container">
					<div class="scroll-button scroll-left inline" data-dir="left" tabindex="-1"><i class='bx bx-chevron-left h3 text-primary' ></i></div>
					<div class="scroll-button scroll-right inline" data-dir="right" tabindex="-1"><i class='bx bx-chevron-right h3 text-primary' ></i></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End: Project Listing Section [completed] -->



<!-- CSR Excerpt Section -->
<section id="csr-excerpt-section" class="csr-excerpt-section space-100-vertical">
	<div class="row">
		<div class="container">
			<div class="columns small-12 large-10 large-offset-1 xlarge-8 xlarge-offset-2">
				<label class="section-label">Beyond Buildings</label>
				<h2 class="section-heading text-neutral-20 space-25-bottom">Building a Better Bangalore</h2>
			</div>
			<div class="columns small-12 space-50-vertical medium-5 large-4 large-offset-1 xlarge-3 xlarge-offset-2">
				<p class="h6 space-50-bottom">Vaswani Group's commitment to sustainable development and community welfare, ensures a positive impact in Bangalore.</p>				
				<a class="button fill-dark" href="">Explore Our CSR initiatives</a>
			</div>
			<div class="columns small-12 space-25-top medium-6 medium-offset-1 large-5 xlarge-4">
				<img class="radius-min block box-shadow" src="https://placeholdit.com/800x800/dddddd/999999" alt="">
			</div>
		</div>
		<img class="dotmatrix" src="media/dot-matrix-large-yellow.svg" alt="">
	</div>
</section>
<!-- End: CSR Excerpt Section -->



<!-- Testimonials Section -->
<section id="testimonials-section" class="testimonials-section space-100-vertical">
	<div class="row">
		<div class="container">
			<div class="columns small-12 text-center space-25-bottom">
				<label class="section-label">Testimonials</label>
				<h2 class="section-heading text-neutral-20">Voices of Trust</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- Carousel -->
		<div class="carousel">
			<div class="carousel-list fill-white box-shadow-red-light">
				<div class="carousel-list-item">
					<div class="card testimonial space-50 box-shadow-primary">
						<h5 class="text-primary space-min-bottom">Prabhu Thukkaram</h5>
						<small class="block text-neutral-50 space-min-bottom">10 Months Ago</small>
						<h5 class="space-25-bottom">⭐⭐⭐⭐⭐</h5>
						<p class="text-neutral-50">If we could give Vaswani 10 stars we would. We had purchased a residential villa from Vaswani in 1999 and more recently we needed some help from Vaswani. Their willingness to help a customer from 25 years ago is commendable and praise worthy. They went above and beyond to help us out. This unparalleled customer service is not common, especially 25 years after a transaction was made. Our sincere thanks to everyone at Vaswani and we wish them great success in all their endeavors.</p>
					</div>
				</div>
				<div class="carousel-list-item">
					<div class="card testimonial space-50 box-shadow-primary">
						<h5 class="text-primary space-min-bottom">Prabhu Thukkaram</h5>
						<small class="block text-neutral-50 space-min-bottom">10 Months Ago</small>
						<h5 class="space-25-bottom">⭐⭐⭐⭐⭐</h5>
						<p class="text-neutral-50">If we could give Vaswani 10 stars we would. We had purchased a residential villa from Vaswani in 1999 and more recently we needed some help from Vaswani. Their willingness to help a customer from 25 years ago is commendable and praise worthy. They went above and beyond to help us out. This unparalleled customer service is not common, especially 25 years after a transaction was made. Our sincere thanks to everyone at Vaswani and we wish them great success in all their endeavors.</p>
					</div>
				</div>
				<div class="carousel-list-item">
					<div class="card testimonial space-50 box-shadow-primary">
						<h5 class="text-primary space-min-bottom">Prabhu Thukkaram</h5>
						<small class="block text-neutral-50 space-min-bottom">10 Months Ago</small>
						<h5 class="space-25-bottom">⭐⭐⭐⭐⭐</h5>
						<p class="text-neutral-50">If we could give Vaswani 10 stars we would. We had purchased a residential villa from Vaswani in 1999 and more recently we needed some help from Vaswani. Their willingness to help a customer from 25 years ago is commendable and praise worthy. They went above and beyond to help us out. This unparalleled customer service is not common, especially 25 years after a transaction was made. Our sincere thanks to everyone at Vaswani and we wish them great success in all their endeavors.</p>
					</div>
				</div>
				<div class="carousel-list-item">
					<div class="card testimonial space-50 box-shadow-primary">
						<h5 class="text-primary space-min-bottom">Prabhu Thukkaram</h5>
						<small class="block text-neutral-50 space-min-bottom">10 Months Ago</small>
						<h5 class="space-25-bottom">⭐⭐⭐⭐⭐</h5>
						<p class="text-neutral-50">If we could give Vaswani 10 stars we would. We had purchased a residential villa from Vaswani in 1999 and more recently we needed some help from Vaswani. Their willingness to help a customer from 25 years ago is commendable and praise worthy. They went above and beyond to help us out. This unparalleled customer service is not common, especially 25 years after a transaction was made. Our sincere thanks to everyone at Vaswani and we wish them great success in all their endeavors.</p>
					</div>
				</div>
				<div class="carousel-list-item">
					<div class="card testimonial space-50 box-shadow-primary">
						<h5 class="text-primary space-min-bottom">Prabhu Thukkaram</h5>
						<small class="block text-neutral-50 space-min-bottom">10 Months Ago</small>
						<h5 class="space-25-bottom">⭐⭐⭐⭐⭐</h5>
						<p class="text-neutral-50">If we could give Vaswani 10 stars we would. We had purchased a residential villa from Vaswani in 1999 and more recently we needed some help from Vaswani. Their willingness to help a customer from 25 years ago is commendable and praise worthy. They went above and beyond to help us out. This unparalleled customer service is not common, especially 25 years after a transaction was made. Our sincere thanks to everyone at Vaswani and we wish them great success in all their endeavors.</p>
					</div>
				</div>
				<div class="carousel-list-item">
					<div class="card testimonial space-50 box-shadow-primary">
						<h5 class="text-primary space-min-bottom">Prabhu Thukkaram</h5>
						<small class="block text-neutral-50 space-min-bottom">10 Months Ago</small>
						<div class="h5 space-25-bottom">⭐⭐⭐⭐⭐</div>
						<p class="text-neutral-50">If we could give Vaswani 10 stars we would. We had purchased a residential villa from Vaswani in 1999 and more recently we needed some help from Vaswani. Their willingness to help a customer from 25 years ago is commendable and praise worthy. They went above and beyond to help us out. This unparalleled customer service is not common, especially 25 years after a transaction was made. Our sincere thanks to everyone at Vaswani and we wish them great success in all their endeavors.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="carousel-controls container">
					<div class="scroll-button scroll-left inline" data-dir="left" tabindex="-1"><i class='bx bx-chevron-left h3 text-primary' ></i></div>
					<div class="scroll-button scroll-right inline" data-dir="right" tabindex="-1"><i class='bx bx-chevron-right h3 text-primary' ></i></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End: Testimonials Section -->



<!-- Awards Section -->
<section id="awards-section" class="awards-section space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				AWARDS
				Accolades of Excellence

				{
					Best Luxury Residential Project South Zone
					CNBC-Awaaz Real Estate Awards 2023
					⭐⭐⭐
				}
			</div>
		</div>
	</div>
</section>
<!-- End: Awards Section -->



<!-- NRI Excerpt Section -->
<section id="nri-excerpt-section" class="nri-excerpt-section space-100-vertical">
	<div class="row">
		<div class="container">
			<div class="columns small-12 medium-5 large-4 large-offset-1 xlarge-3 xlarge-offset-2">
				<img class="radius-min block box-shadow" src="https://placeholdit.com/480x720/dddddd/999999" alt="">
			</div>
			<div class="columns small-12 medium-6 medium-offset-1 large-5 xlarge-4 space-50-top">
				<label class="section-label">NRI Customers</label>
				<h2 class="section-heading text-neutral-20 space-50-bottom">Global Aspirations. Local Expertise.</h2>
				<p class="h6 space-25-bottom">For our discerning international clients, we offer a streamlined journey to finding and owning your dream home in Bangalore.</p>
				<p class="h6 space-50-bottom">From buying assistance to seamless handover, our dedicated NRI team ensures peace of mind.</p>
				<a class="button fill-dark " href="">More Details</a>
			</div>
		</div>
		<img class="dotmatrix" src="media/dot-matrix-large-yellow.svg" alt="">
	</div>
</section>
<!-- End: NRI Excerpt Section -->



<!-- Blog Section -->
<section id="blog-section" class="blog-section space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				BLOG ARTICLES

				Insights & Lifestyle Hub

				article
					image

					We’ve won accolades – and it’s entirely thanks...

					3 Weeks Ago
					
					Vaswani Exquisite has been awarded the Best Luxury Residential Project South Zone Award, at the CNBC-Awaaz Real Estate Awards 2023...
					
					View Article
			</div>
		</div>
	</div>
</section>
<!-- End: Blog Section -->



<!-- Footer Section -->
<section id="footer-section" class="footer-section space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				logo

				ribon

				contact
					BANGALORE CONTACT
					+9187479-87479
					sales@vaswanigroup.com

					BANGALORE ADDRESS
					Vaswani Victoria, #30, Victoria Road, Bengaluru - 560 047 Karnataka, India

				Social
					insta, youtube, facebook, linkedin


				residential
					links
					links
					links
					links

				commercial
					links
					links
					links
					links

				Quick Links
					links
					links
					links
					links
					links
			</div>
		</div>
	</div>
</section>
<!-- End: Footer Section -->




{% include 'parts/footer.liquid' %}
{% include 'parts/foot.liquid' %}
