{% include 'parts/head.liquid' %}
{% include 'parts/header.liquid' %}



<!-- Sample Section -->
<section id="sample-section hidden" class="sample-section">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<!-- Stuff Goes Here -->
			</div>
		</div>
	</div>
</section>
<!-- End: Sample Section -->



<!-- Intro Banner Section -->
<section id="intro-banner-section" class="intro-banner-section">
	<div class="container">
		<div class="row">
			<div class="columns small-12 space-100-top text-justify">
				Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Optio quaerat, voluptate architecto nam, maxime consectetur hic harum fugiat porro ratione, aut corrupti. Atque possimus voluptatibus saepe maxime voluptas pariatur animi.
			</div>
			<div class="columns small-12 space-100-top text-justify">
				Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Optio quaerat, voluptate architecto nam, maxime consectetur hic harum fugiat porro ratione, aut corrupti. Atque possimus voluptatibus saepe maxime voluptas pariatur animi.
			</div>
			<div class="columns small-12 space-100-vertical text-justify">
				Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Optio quaerat, voluptate architecto nam, maxime consectetur hic harum fugiat porro ratione, aut corrupti. Atque possimus voluptatibus saepe maxime voluptas pariatur animi.
			</div>
		</div>
	</div>
</section>
<!-- End: Intro Banner Section -->



<!-- Bento Grid Section -->
<section id="bento-grid-section" class="bento-grid-section">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<!-- Stuff Goes Here -->
			</div>
		</div>
	</div>
</section>
<!-- End: Bento Grid Section -->



<!-- Project Listing Section [Active] -->
<section id="project-listing-section" class="project-listing-section active">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<!-- Stuff Goes Here -->
			</div>
		</div>
	</div>
</section>
<!-- End: Project Listing Section [Active] -->




<!-- Contact Form Section -->
<section id="about-vaswnani-section" class="about-vaswnani-section">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<!-- Stuff Goes Here -->
			</div>
		</div>
	</div>
</section>
<!-- End: Contact Form Section -->



<!-- About Vaswnani Section -->
<section id="about-vaswnani-section" class="about-vaswnani-section">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<!-- Stuff Goes Here -->
			</div>
		</div>
	</div>
</section>
<!-- End: About Vaswnani Section -->



<!-- Bank Financing Section -->
<section id="bank-financing-section" class="bank-financing-section">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<!-- Stuff Goes Here -->
			</div>
		</div>
	</div>
</section>
<!-- End: Bank Financing Section -->



<!-- Join Newsletter Section -->
<section id="join-newsletter-section" class="join-newsletter-section">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<!-- Stuff Goes Here -->
			</div>
		</div>
	</div>
</section>
<!-- End: Join Newsletter Section -->



<!-- Project Listing Section [Completed] -->
<section id="project-listing-section" class="project-listing-section completed">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<!-- Stuff Goes Here -->
			</div>
		</div>
	</div>
</section>
<!-- End: Project Listing Section [Completed] -->




<!-- CSR Excerpt Section -->
<section id="csr-excerpt-section" class="csr-excerpt-section">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<!-- Stuff Goes Here -->
			</div>
		</div>
	</div>
</section>
<!-- End: CSR Excerpt Section -->



<!-- Testimonials Section -->
<section id="testimonials-section" class="testimonials-section">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<!-- Stuff Goes Here -->
			</div>
		</div>
	</div>
</section>
<!-- End: Testimonials Section -->



<!-- Awards Section -->
<section id="awards-section" class="awards-section">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<!-- Stuff Goes Here -->
			</div>
		</div>
	</div>
</section>
<!-- End: Awards Section -->



<!-- NRI Excerpt Section -->
<section id="nri-excerpt-section" class="nri-excerpt-section">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<!-- Stuff Goes Here -->
			</div>
		</div>
	</div>
</section>
<!-- End: NRI Excerpt Section -->



<!-- Blog Section -->
<section id="blog-section" class="blog-section">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<!-- Stuff Goes Here -->
			</div>
		</div>
	</div>
</section>
<!-- End: Blog Section -->



<!-- Footer Section -->
<section id="footer-section" class="footer-section">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<!-- Stuff Goes Here -->
			</div>
		</div>
	</div>
</section>
<!-- End: Footer Section -->




{% include 'parts/footer.liquid' %}
{% include 'parts/foot.liquid' %}
