{% include 'parts/head.liquid' %}
{% include 'parts/header.liquid' %}



<!-- Sample Section -->
<section id="sample-section hidden" class="sample-section hidden">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<!-- Stuff Goes Here -->
			</div>
		</div>
	</div>
</section>
<!-- End: Sample Section -->



<!-- Intro Banner Section -->
<section id="intro-banner-section" class="intro-banner-section">
	<div class="row">
		<div class="video-scroll-wrapper">
			<div class="video-width fill-dark" style="width: 100vw; padding-top: 50%;"></div>
			<div class="scroll">
				<span>Scroll</span>
				dotmatrix
			</div>
		</div>
			
	</div>
</section>
<!-- End: Intro Banner Section -->



<!-- Bento Grid Section -->
<section id="bento-grid-section" class="bento-grid-section space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				tile 1
					40 year
				tile 2
					8M+ Square Feet Built-up Area
				tile 3
					Pioneered row house in Bangalore
				tile 4
					image
				tile 5
					image
				tile 6
					5000+ Happy Customers
				tile 7
					100% RERA Compliance
			</div>
		</div>
	</div>
</section>
<!-- End: Bento Grid Section -->



<!-- Project Listing Section [Active] -->
<section id="project-listing-section" class="project-listing-section active space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				ONGOING PROJECTS
				Masterpieces in the Making
				Residential / Commercial
				Project
					Luxury 3 & 4 Bedroom Homes
					Vaswani Starlight

					*Starting at ₹2.82Cr
					1970sqft to 2730sqft Apartments
					Whitefield, BANGALORE

					image / image / image / image
					
					construction in full swing

					Explore Project
			</div>
		</div>
	</div>
</section>
<!-- End: Project Listing Section [Active] -->




<!-- Contact Form Section -->
<section id="about-vaswnani-section" class="about-vaswnani-section space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				GET IN TOUCH
				Exceptional Living Begins Here
				Provide your details, and our expert advisors will connect with you to tailor your next steps.

				form
						FULL NAME *
						EMAIL ID *
						PHONE NUMBER *
						I’M INTERESTED IN
						HOW DID YOU FIND US ?
						YOUR REQUIREMENT {OPTIONAL)
						CONTACT

				dotmatrix


				OR
				Call our Help Desk between 10am to 7pm IST
				+91-8747987479
			</div>
		</div>
	</div>
</section>
<!-- End: Contact Form Section -->



<!-- About Vaswnani Section -->
<section id="about-vaswnani-section" class="about-vaswnani-section space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				ribon
					logo
					
					Over the last 40 years, we have developed residential and commercial real estate across Bangalore, Mumbai, Pune and Goa.

					In 1985, we embarked on a journey to offer global-standard residential solutions for the discerning home buyer as well as turnkey commercial solutions for Indian and multinational firms. From resplendent housing to upscale commercial, our equity is strengthened with a proven and credible track record having developed close to 8 million square feet of built up area in the verticals of Residential, Commercial, Retail and Hospitality. We are committed to constantly refining our skills with an ever present emphasis on transparency.
					
					More about us
				ribon
			</div>
		</div>
	</div>
</section>
<!-- End: About Vaswnani Section -->



<!-- Bank Financing Section -->
<section id="bank-financing-section" class="bank-financing-section space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				Hassle-free Financing

				Many Vaswani projects are pre-approved by India's leading financial institutions.

				bank / bank / bank / bank
			</div>
		</div>
	</div>
</section>
<!-- End: Bank Financing Section -->



<!-- Join Newsletter Section -->
<section id="join-newsletter-section" class="join-newsletter-section space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				image

				SHARED SPACES

				The Art of Architecture
				
				Join our Newsletter
			</div>
		</div>
	</div>
</section>
<!-- End: Join Newsletter Section -->



<!-- Project Listing Section [Completed] -->
<section id="project-listing-section" class="project-listing-section completed space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				COMPLETED PROJECTS
				Our Legacy of Landmarks
				Residential / Commercial
				Project
					image
					Completed 2017

					Vaswani Menlo Park
					3 & 4 BHK Row Houses

					1970sqft to 2730sqft Apartments
					Whitefield, BANGALORE

					View Project
			</div>
		</div>
	</div>
</section>
<!-- End: Project Listing Section [Completed] -->




<!-- CSR Excerpt Section -->
<section id="csr-excerpt-section" class="csr-excerpt-section space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				BEYOND BUILDINGS

				Building a Better Bangalore

				Vaswani Group's commitment to sustainable development and community welfare, ensures a positive impact in Bangalore.
				
				Explore Our CSR initiatives

				image

				dotmatrix
			</div>
		</div>
	</div>
</section>
<!-- End: CSR Excerpt Section -->



<!-- Testimonials Section -->
<section id="testimonials-section" class="testimonials-section space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				VOICES OF TRUST

				Customer Testimonials

				testimonial
					Prabhu Thukkaram
					10 Months Ago
					⭐⭐⭐⭐⭐
					If we could give Vaswani 10 stars we would. We had purchased a residential villa from Vaswani in 1999 and more recently we needed some help from Vaswani. Their willingness to help a customer from 25 years ago is commendable and praise worthy. They went above and beyond to help us out. This unparalleled customer service is not common, especially 25 years after a transaction was made. Our sincere thanks to everyone at Vaswani and we wish them great success in all their endeavors.
			</div>
		</div>
	</div>
</section>
<!-- End: Testimonials Section -->



<!-- Awards Section -->
<section id="awards-section" class="awards-section space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				AWARDS
				Accolades of Excellence

				{
					Best Luxury Residential Project South Zone
					CNBC-Awaaz Real Estate Awards 2023
					⭐⭐⭐
				}
			</div>
		</div>
	</div>
</section>
<!-- End: Awards Section -->



<!-- NRI Excerpt Section -->
<section id="nri-excerpt-section" class="nri-excerpt-section space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				image

				NRI CUSTOMERS

				Global Aspirations. Local Expertise.
				
				For our discerning international clients, we offer a streamlined journey to finding and owning your dream home in Bangalore.

				From buying assistance to seamless handover, our dedicated NRI team ensures peace of mind.

				learn more
			</div>
		</div>
	</div>
</section>
<!-- End: NRI Excerpt Section -->



<!-- Blog Section -->
<section id="blog-section" class="blog-section space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				BLOG ARTICLES

				Insights & Lifestyle Hub

				article
					image

					We’ve won accolades – and it’s entirely thanks...

					3 Weeks Ago
					
					Vaswani Exquisite has been awarded the Best Luxury Residential Project South Zone Award, at the CNBC-Awaaz Real Estate Awards 2023...
					
					View Article
			</div>
		</div>
	</div>
</section>
<!-- End: Blog Section -->



<!-- Footer Section -->
<section id="footer-section" class="footer-section space-100-vertical">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				logo

				ribon

				contact
					BANGALORE CONTACT
					+9187479-87479
					sales@vaswanigroup.com

					BANGALORE ADDRESS
					Vaswani Victoria, #30, Victoria Road, Bengaluru - 560 047 Karnataka, India

				Social
					insta, youtube, facebook, linkedin


				residential
					links
					links
					links
					links

				commercial
					links
					links
					links
					links

				Quick Links
					links
					links
					links
					links
					links
			</div>
		</div>
	</div>
</section>
<!-- End: Footer Section -->




{% include 'parts/footer.liquid' %}
{% include 'parts/foot.liquid' %}
